.formBlock {
  width: 600px;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  box-shadow: 1px 1px 5px grey;
  padding: 40px 0 0;
  justify-content: space-between;
  border-radius: 5px;
}
.firstRow,
.secondRow {
  display: flex;
  justify-content: space-between;
}
.selector {
  width: 380px;
  height: 32px;
  border: 1px solid #b1aeae;
  border-radius: 5px;
}
.header {
  color: #384045;
  margin-bottom: 31px;
  margin-left: 26px;
  font-size: 24px;
  font-weight: 500;
}

.formFooter {
  background-color: rgba(244, 244, 244, 1);
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 16px 24px;
  margin-top: 40px;
}
.formFields {
  padding: 0 24px;
}

